/* TELA DE SETORES */

#telaSetores {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
    gap: var(--gap-padrao);
    margin-top: var(--espacamento-grande);
}

/* TELA DE TIPO DE SENHA */

#telaTipoSenha {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: var(--espacamento-medio);
}

#nomeSetor {
    font-size: var(--fonte-h2);
    color: var(--cor-titulo);
    margin-bottom: 10px;
}

/* SENHA GERADA */

#senha {
    margin-top: var(--espacamento-grande);
    font-size: var(--fonte-h2);
    font-weight: bold;
    color: var(--cor-titulo);
}

.senha-gerada {
    margin-top: var(--espacamento-medio);
    padding: 25px;
    border-radius: var(--radius-card);
    background: var(--cor-fundo);
    border: 2px solid var(--cor-borda);
}

.btn-imprimir {
    margin-top: 25px;
}

.titulo-comprovante {
    font-weight: bold;
    margin-bottom: 20px;
    color: var( --cor-texto-destaque);
}

.senha-gerada h2 {
    font-size: var(--fonte-senha);
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.senha-gerada h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-titulo);
}

.senha-gerada p {
    font-size: var(--fonte-texto);
    margin: 8px 0;
    color: var(--cor-texto);
}

.acoes-comprovante {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

/*para teste do historico*/
#historico {
    display: none;
}