/* =====================================
   SETOR
===================================== */

#nomeSetor {
    margin-bottom: var(--espacamento-grande);
    font-size: var(--fonte-h2);
    color: var(--cor-titulo);
}

p {

    margin-bottom: var(--espacamento-pequeno);

}

/* =====================================
   SENHA EM ATENDIMENTO
===================================== */

.card-atendimento {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    background: var(--cor-branca);
    border: 3px solid var(--cor-primaria);
    border-radius: var(--radius-card);
    margin-top: var(--espacamento-grande);
    margin-bottom: var(--espacamento-grande);
    box-shadow: var(--sombra-container);
}

#senhaAtual {
    font-size: var(--fonte-senha);
    font-weight: bold;
    color: var(--cor-primaria);
    margin-bottom: var(--espacamento-pequeno);
}

#statusSenha {
    font-size: var(--fonte-texto);
    color: var(--cor-texto);
    font-weight: bold;

}

/* =====================================
   FILA DO SETOR
===================================== */

.card-fila {
    margin-top: var(--espacamento-grande);
    margin-bottom: var(--espacamento-grande);
    min-height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-branca);
    border: 2px solid var(--cor-borda);
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-container);
}

#filaSetor {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

#mensagemFila {
    color: var(--cor-texto);
    font-size: var(--fonte-texto);
    font-weight: bold;
}

/* =====================================
   SENHAS DA FILA
===================================== */

.senhaFila {
    color: var(--cor-primaria);
    font-size: 24px;
    font-weight: bold;
}

/* =====================================
   BOTÕES
===================================== */

.container-botoes {
    display: flex;
    justify-content: center;
    gap: var(--espacamento-medio);
    flex-wrap: wrap;
    margin-top: var(--espacamento-grande);
}

.container-botoes button {
    width: 220px;
    font-size: var(--fonte-texto);
}

/* =====================================
   MENSAGENS
===================================== */

#mensagemSistema {
    margin-top: var(--espacamento-grande);
    font-size: 16px;
    color: var(--cor-erro);
}