/* Desktop Grande */
@media (min-width: 1200px) {

    .container {
        width: 800px;
    }

}

/* Notebook */
@media (min-width: 992px) and (max-width: 1199px) {

    .container {
        width: 90%;
    }

    button {
        font-size: 20px;
    }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        width: 90%;
        padding: 30px;
    }

    .botoes {
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        width: 200px;
        font-size: 18px;
    }

}

/* Celulares grandes */
@media (min-width: 481px) and (max-width: 767px) {

    .container {
        width: 95%;
        padding: 25px;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 16px;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 100%;
        font-size: 18px;
    }

    #senha {
        font-size: 24px;
    }

}

/* Celulares pequenos */
@media (max-width: 480px) {

    .container {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    #senha {
        margin-top: 25px;
        font-size: 22px;
    }

}